* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #f4f4f4;
    --dark-color: 51, 51, 51;
    --danger: 255, 50, 50;
}

body {
    background: var(--light-color);
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
    line-height: 1.6rem;
    font-family: 'Open Sans', Arial, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #333;
    font-weight: 400;
}

h1,
h3,
h4 {
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

h2 {
    color: rgb(49, 34, 255);
    padding: 1.5rem 0;
    margin-top: 1.5rem;
}

a,
a:link,
a:visited,
a:active {
    color: rgb(49, 34, 255);
}
a:hover {
    color: purple;
}

.lead {
    font-size: 2rem;
    font-weight: 200;
}

.py {
    padding: 1rem 0;
}

.image {
    padding-top: 2rem;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border-radius: 30%;
    background: black;
    vertical-align: sub;
    margin: 0 0.3rem 0 1rem;
}

.hotkey {
    text-align: center;
    width: 500px;
    margin: 1rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
}

.hotkey #macOS {
    padding-right: 2.5rem;
}

.hotkey #windows {
    margin-left: 1.5rem;
}

.hotkey .windows,
.mac {
    width: 125px;
    border-radius: 100px;
    padding: 0.5rem;
    background: rgb(49, 34, 255);
    color: #fff;
    font-weight: bold;
}

.hotkey .name {
    width: 11rem;
    text-align: left;
}

.hotkey i {
    vertical-align: top;
}

.option-key {
    height: 0.7rem;
    width: auto;
    vertical-align: baseline;
}

.danger {
    color: red;
}

#welcome h1 strong {
    margin-left: 0.5rem;
}

#icon {
    vertical-align: text-bottom;
    margin: 0 0.3rem;
}

#hotkeys {
    padding-top: 0.5rem;
}

#hotkeys div:first-of-type {
    margin-bottom: 1.5rem;
}

#hotkeys div:last-of-type {
    margin-bottom: 2rem;
}

#export {
    padding-top: 2rem;
}

#circles {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
